html, body, #map {
    height: 100%;
    width: 100%;
    position: absolute;
}
body {
    margin: 0;
    overflow: hidden;
}

#vehicle-schedule {
    position: absolute;
    height: 45px;
    overflow: hidden;
    width: 100%;
    padding-left: 500px;
    margin-top: 13px;
    font-family: sans-serif;
    color: #fff;
    text-shadow: 1px 1px 5px #333;
    /*-moz-animation: VehicSchedule 15s linear infinite;*/
    /*-webkit-animation: VehicSchedule 15s linear infinite;*/
    /*animation: VehicSchedule 15s linear infinite;*/
}
.VehicSchedule h3 > span {
    color: #FFFF00;
}

.VehicSchedule {
    position: absolute;
    width: 100%;
    height: 45px;
    margin: 0;
    bottom: 0;
    line-height: 20px;
    background-color: #1e7bbd;
    border-top-style: solid;
    border-color: #5e5e5e;
}

#shelter-name {
    position: absolute;
    height: 45px;
    overflow: hidden;
    width: 100%;
    padding-left: 10px;
    margin-top: 13px;
    font-family: sans-serif;
    color: #fff;
    text-shadow: 1px 1px 5px #333;
}

.line-separator {
    position: absolute;
    height: 50px;
    margin-left: 470px;
    border-left:2px solid #5e5e5e;
}

@-moz-keyframes VehicSchedule {
    0%   { -moz-transform: translateX(100%); }
    95% { -moz-transform: translateX(-20%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes VehicSchedule {
    0%   { -webkit-transform: translateX(100%); }
    95% { -webkit-transform: translateX(-20%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes VehicSchedule {
0%   {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
95% {
        -moz-transform: translateX(-20%);
        -webkit-transform: translateX(-20%);
        transform: translateX(-20%);
}
100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.olImageLoadError {
    display: none;
}